@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ECF4F7;
    --foreground: #ededed;
  }
}
@media (max-width: 1415px) {
  .page-1{
    flex-direction: column;
    align-items: center;
  }
  .transaction-form{
    width: 470px;
  }
  .page-2{
    flex-direction: column;
    align-items: center;
  }
  .category-expenses{
    width: 470px;
  }
  .category-cart{
    width: 200px;
  }
}
@media (max-width: 500px) {
  
  .transaction-form{
    width: 380px;
  }
  .budjet{
    width: 380px;
  }
  .category-chart{
    width: 380px;
  }
  .page-2{
    flex-direction: column;
    align-items: center;
  }
  .transaction-list{
    width: 380px;
  }
  .category-expenses{
    width: 380px;
  }
  .category-cart{
    width: 170px;
  }
  .category-cart-img{
    width: 50px;
    height: 50px;
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
